<%= @user.name %>'s Profile
<br>
<ul>
  <li>Email : <%= @user.email %></li>
  <li>Github user : <%= @user.github_login %></li>
  <li><img src="https://secure.gravatar.com/avatar/<%= @user.gravatar_id %>" alt="Gravatar" style="margin-right: 18px" /></li>
</ul>
